/* ===== Custom Styling ===== */
.top-bar {
  background-color: #143b75;
  font-size: 14px;
}

.navbar-section a.nav-link:hover {
  color: #1E3A8A;
}

.badge-circle {
  background-color: #E0E7FF;
  color: #1E3A8A;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  border-color: #1E3A8A !important;
  transition: 0.2s;
}

.form-control {
  border-radius: 10px;
  padding: 10px 12px;
}

.card {
  border-radius: 15px !important;
}

.btn {
  border-radius: 8px;
}
